--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128
diffusers==0.38.0
transformers
accelerate==1.14.0
safetensors
Pillow
numpy
opencv-python
pyyaml
omegaconf
timm
tqdm
toml
orjson
pandas
tensorboard
lpips
scipy
elatentlpips
flash-linear-attention[cuda]==0.3.2